@import '../../../../style/helpers.less';
.actionBUtton{
    display: block;
    // padding: 5px 16px;
    // background: @offWhite;
}
.actionContainer{
 display: inline;
}
.actionsList{
    position: absolute;
    top: 72px;
    background: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 6px 32px 0 rgba(0, 18, 46, .16);
    box-shadow: 0 6px 32px 0 rgba(0, 18, 46, .16);
    padding: 3px;
    z-index: 999;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    right: 24px;
    color: #333d45;
    opacity: 1;
    text-align: center;
    cursor: pointer;
}